################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/0x02-python-import_modules/calculator_1.py
/0x02-python-import_modules/hidden_4.pyc
/0x02-python-import_modules/hidden_4.pyc
/0x02-python-import_modules/variable_load_5.py
/.vs/alx-higher_level_programming/FileContentIndex
/.vs/alx-higher_level_programming/v17/.wsuo
*.db
*.json
/.vs/slnx.sqlite
/.vs/alx-higher_level_programming/v17
/.vs/VSWorkspaceState.json
/.vs/alx-higher_level_programming/copilot-chat/7181897e/sessions
/.editorconfig
/.gitattributes
/0x0F-python-object_relational_mapping/__pycache__/0-select_states.cpython-310.pyc
